/* Write your code here. */
.emoji-ele {
  width: 90%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff33;
  border-radius: 10px;
  margin-right: 15px;
  border: 0px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
.emoji {
  width: 50px;
}

@media (min-width: 588px) {
  .emoji-ele {
    width: 90%;
    height: 20vh;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .emoji {
    width: 80px;
  }
}
